<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Komis Samochodowy ELO</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link href="../../../static/css/style.css" rel="stylesheet">
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Strona główna</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/employee/cars">Szukaj</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/myManager/carsList">Samochód</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/myManager/clients">Klient</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/myManager/transactions">Transakcja</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/myManager/accounts">Konto</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/myManager/employees">Pracownik</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/myManager/addresses">Adres</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">Wyloguj</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<br>
<!-- Navigation Bar -->
	<!-- Navigation Bar -->
	
	<div class="container">
		<div class ="row">
			<div class="col-md-10 offset-md-1">
			<input type="text" id="myID" onkeyup="getID()" placeholder="ID">
			<input type="text" id="myName" onkeyup="getName()" placeholder="Imię">
			<input type="text" id="mySurname" onkeyup="getSurname()" placeholder="Nazwisko">
			<input type="text" id="myNumber" onkeyup="getNumber()" placeholder="Numer Telefonu">
			<input type="text" id="myStatus" onkeyup="getStatus()" placeholder="Status">
			</div>
		</div>
	</div>



	<div class="table-responsive">
		<table class="table table-bordered" id="myTable">
			<thead class="thead-light">
			<tr>
				<th onclick="sortTable(0)">ID</th>
				<th onclick="sortTable(1)">Imię</th>
				<th onclick="sortTable(2)">Nazwisko</th>
				<th onclick="sortTable(3)">Numer Telefonu</th>
				<th onclick="sortTable(4)">Status</th>

			</tr>
			</thead>
			<tbody>
			<tr class="item" th:each="c : ${clients}">
				<td th:text="${c.id}"></td>
				<td th:text="${c.name}"></td>
				<td th:text="${c.surname}"></td>
				<td th:text="${c.phoneNumber}"></td>
				<td>
					<a class="btn btn-warning" th:href="@{/employee/clients/update/{id}(id = ${c.id})}">Modyfikuj</a>
					<a class="btn btn-danger" th:href="@{/employee/clients/delete/{id}(id = ${c.id})}">Usuń</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<button class="btn btn-success btn-block move-button" data-target="#addModal" data-toggle="modal">Dodaj nowego klienta</button>
			</div>
		</div>
	</div>





	<div class="modal" id="addModal" tabindex="-1">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/employee/clients/add}" th:method="post" th:object="${clientAdd}">
						<div class="form-group">
							<label for="name2">Imię</label>
							<input class="form-control" type="text" name="name" id="name2" th:text="*{name}">
						</div>
						<div class="form-group">
							<label for="surname2">Model</label>
							<input class="form-control" type="text" name="surname" id="surname2" th:text="*{surname}">
						</div>
						<div class="form-group">
							<label for="phoneNumber2">Nr tel.</label>
							<input class="form-control" type="text" name="phoneNumber" id="phoneNumber2"
								   th:text="*{phoneNumber}">
						</div>
						<div class="modal-footer">
							<button class="btn btn-block btn-primary" type="submit">Potwierdź</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>



	<script type="text/javascript">
	function getID() {
	  var input, filter, table, tr, td, i;
	  input = document.getElementById("myID");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[0];
		if (td) {
		  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
			tr[i].style.display = "";
		  } else {
			tr[i].style.display = "none";
		  }
		}
	  }
	}
	</script>

	<script type="text/javascript">
	function getName() {
	  var input, filter, table, tr, td, i;
	  input = document.getElementById("myName");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[1];
		if (td) {
		  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
			tr[i].style.display = "";
		  } else {
			tr[i].style.display = "none";
		  }
		}
	  }
	}
	</script>

	<script type="text/javascript">
	function getSurname() {
	  var input, filter, table, tr, td, i;
	  input = document.getElementById("mySurname");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[2];
		if (td) {
		  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
			tr[i].style.display = "";
		  } else {
			tr[i].style.display = "none";
		  }
		}
	  }
	}
	</script>

	<script type="text/javascript">
	function getNumber() {
	  var input, filter, table, tr, td, i;
	  input = document.getElementById("myNumber");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[3];
		if (td) {
		  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
			tr[i].style.display = "";
		  } else {
			tr[i].style.display = "none";
		  }
		}
	  }
	}
	</script>

	<script type="text/javascript">
	function getStatus() {
	  var input, filter, table, tr, td, i;
	  input = document.getElementById("myStatus");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[4];
		if (td) {
		  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
			tr[i].style.display = "";
		  } else {
			tr[i].style.display = "none";
		  }
		}
	  }
	}
	</script>

	<script type="text/javascript">
	function sortTable(n) {
	  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
	  table = document.getElementById("myTable");
	  switching = true;
	  // Set the sorting direction to ascending:
	  dir = "asc";
	  /* Make a loop that will continue until
	  no switching has been done: */
	  while (switching) {
		// Start by saying: no switching is done:
		switching = false;
		rows = table.rows;
		/* Loop through all table rows (except the
		first, which contains table headers): */
		for (i = 1; i < (rows.length - 1); i++) {
		  // Start by saying there should be no switching:
		  shouldSwitch = false;
		  /* Get the two elements you want to compare,
		  one from current row and one from the next: */
		  x = rows[i].getElementsByTagName("td")[n];
		  y = rows[i + 1].getElementsByTagName("td")[n];
		  /* Check if the two rows should switch place,
		  based on the direction, asc or desc: */
		  if (dir == "asc") {
			if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
			  // If so, mark as a switch and break the loop:
			  shouldSwitch = true;
			  break;
			}
		  } else if (dir == "desc") {
			if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
			  // If so, mark as a switch and break the loop:
			  shouldSwitch = true;
			  break;
			}
		  }
		}
		if (shouldSwitch) {
		  /* If a switch has been marked, make the switch
		  and mark that a switch has been done: */
		  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
		  switching = true;
		  // Each time a switch is done, increase this count by 1:
		  switchcount ++;
		} else {
		  /* If no switching has been done AND the direction is "asc",
		  set the direction to "desc" and run the while loop again. */
		  if (switchcount == 0 && dir == "asc") {
			dir = "desc";
			switching = true;
		  }
		}
	  }
	}
	</script>
</body>
</html>












