<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Komis Samochodowy ELO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="../../../static/css/style.css" rel="stylesheet">
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Strona główna</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/myManager/cars">Szukaj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myManager/carsList">Samochód</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myManager/clients">Klient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myManager/transactions">Transakcja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myManager/accounts">Konto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myManager/employees">Pracownik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myManager/addresses">Adres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<!-- Navigation Bar -->
<!-- Table -->
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <input type="text" id="myID" onkeyup="getID()" placeholder="ID Pracownika">
            <input type="text" id="myName" onkeyup="getName()" placeholder="Imię">
            <input type="text" id="mySurname" onkeyup="getSurname()" placeholder="Nazwisko">
            <input type="text" id="myHireDate" onkeyup="getHireDate()" placeholder="Data Zatrudnienia">
            <input type="text" id="mySalary" onkeyup="getSalary()" placeholder="Wynagrodzenie">
            <input type="text" id="myNumber" onkeyup="getNumber()" placeholder="Numer Telefonu">
        </div>
    </div>
</div>

</br>

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="myTable">
                    <thead class="thead-light">
                    <thead>
                    <tr>
                        <th onclick="sortTable(0)">ID Pracownika</th>
                        <th onclick="sortTable(1)">Imię</th>
                        <th onclick="sortTable(2)">Nazwisko</th>
                        <th onclick="sortTable(3)">Nr tel.</th>
                        <th onclick="sortTable(4)">Wypłata</th>
                        <th onclick="sortTable(5)">Data zatrudnienia</th>
                        <th onclick="sortTable(6)">ID Konta</th>
                        <th onclick="sortTable(7)">ID Adresu</th>
                        <th onclick="sortTable(8)">Akcja</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr class="item" th:each="e : ${employees}">
                        <td th:text="${e.id}"></td>
                        <td th:text="${e.name}"></td>
                        <td th:text="${e.surname}"></td>
                        <td th:text="${e.tel}"></td>
                        <td th:text="${e.salary}"></td>
                        <td th:text="${e.hireDate}"></td>
                        <td th:text="${e.accountId}"></td>
                        <td th:text="${e.addressId}"></td>

                        <td>
                            <a class="btn btn-danger" th:href="@{/myManager/employees/update/{id}(id=${e.id})}">Modyfikuj</a>
                            <a class="btn btn-warning" th:href="@{/myManager/employees/delete/{id}(id=${e.id})}">Usuń</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-2 offset-md-5">

            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-success" data-target="#addModal" data-toggle="modal">Dodaj nowe konto</button>
            </div>

            <div class="modal" id="addModal" tabindex="-1">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/myManager/employees/add}" th:object="${employeeAdd}" method="post">
                                <div class="form-group">
                                    <label for="login">Imię</label>
                                    <input class="form-control" type="text" id="login" th:value="*{name}">
                                </div>
                                <div class="form-group">
                                    <label for="password">Nazwisko</label>
                                    <input class="form-control" type="text" id="password" th:value="*{surname}">
                                </div>
                                <div class="form-group">
                                    <label for="tel">Nr telefonu</label>
                                    <input class="form-control" type="text" id="tel" th:value="*{tel}">
                                </div>
                                <div class="form-group">
                                    <label for="salary">Wypłata</label>
                                    <input class="form-control" type="text" id="salary" th:value="*{salary}">
                                </div>

                                <div class="form-group">
                                    <label for="employeeId">Id konta</label>
                                    <input class="form-control" type="text" id="employeeId" th:field="*{accountId}">
                                </div>
                                <div class="form-group">
                                    <label for="accountId">Id adresu</label>
                                    <input class="form-control" type="text" id="accountId" th:field="*{addressId}">
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">Potwierdź</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function getID() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myID");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<script type="text/javascript">
    function getName() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myName");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<script type="text/javascript">
    function getSurname() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("mySurname");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<script type="text/javascript">
    function getHireDate() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myHireDate");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<script type="text/javascript">
    function getSalary() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("mySalary");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<script type="text/javascript">
    function getNumber() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myNumber");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[5];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<script type="text/javascript">
    function getLogin() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myLogin");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[6];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<script type="text/javascript">
    function getPassword() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myPassword");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[7];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<script type="text/javascript">
    function getPermission() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myPermission");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[8];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<script type="text/javascript">
    function getCity() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myCity");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[9];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<script type="text/javascript">
    function getPost() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myPost");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[10];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<script type="text/javascript">
    function getStreet() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myStreet");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[11];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<script type="text/javascript">
    function getHomeNumber() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myHomeNumber");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[12];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<script type="text/javascript">
    function getFlatNumber() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myFlatNumber");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[13];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<script type="text/javascript">
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("td")[n];
                y = rows[i + 1].getElementsByTagName("td")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
</body>
</html>












