<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Komis Samochodowy</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link href="/style.css" rel="stylesheet">
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Strona główna</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Szukaj</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Samochód</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Klient</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Transakcja</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Konto</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Wyloguj</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- Navigation Bar -->


<!-- Form -->

<div class="row">
	<div class="col-md-8 offset-md-2">
		<table class="table">
			<thead>
				<th>Zdjęcie</th>
				<th>Dane</th>
			</thead>
			<tbody>
				<tr th:each="c : ${cars}" >
					<td ><img th:src="@{/static/img/{name}(name=${c.photo})}" class="img-thumbnail"/></td>
					<td>
						<table class="table">
							<!--4 kolumny na dane-->
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<!--wypełnienie pierwszej kolumny-->
							<tr>
								<td th:text="${c.brand}" class="font-weight-bold text-uppercase"></td>
								<td th:text="${c.model}" class="font-weight-bold "></td>
								<td th:text="${c.accidents}"></td>
							</tr>
							<!--wypełnienie 2. kolumny-->
							<tr>
								<td th:text="${c.year}"></td>
								<td th:text="${c.mileage}"></td>
								<td th:text="${c.engine}"></td>
							</tr>
							<!--wypełnienie 3. kolumny-->
							<tr>
								<td th:text="${c.power}"></td>
								<td th:text="${c.fuel}"></td>
								<td th:text="${c.price}" class="font-weight-bold"></td>
							</tr>
							<!--wypełnienie 4. kolumny-->
							<tr>
								<td th:text="${c.publishmentDate}"></td>
								<td th:text="${c.seller}"></td>
								<td th:text="${c.price}" class="font-weight-bold"></td>
							</tr>
						</table>
					</td>
					<!--<td th:text="${p.surname}"></td>
					<td th:text="${p.age}"></td>
					<td><img th:src="@{/static/img/{name}(name=${p.filePath})}"/></td>
					<td>
						<a class="btn btn-secondary mr-3" th:href="@{/person/update/{id}(id=${p.id})}">Update</a>
						<a class="btn btn-info mr-3" th:href="@{/person/details/{id}(id=${p.id})}">Details</a>
						<a class="btn btn-danger" th:href="@{/person/delete/{id}(id=${p.id})}">Delete</a>
					</td>-->
				</tr>
			</tbody>
		</table>
</div>


<!-- Form -->



<script type="text/javascript">
    function getBrand() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myBrand");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<script type="text/javascript">
    function getModel() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myModel");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<script type="text/javascript">
    function getPrize() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myPrize");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<script type="text/javascript">
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("td")[n];
                y = rows[i + 1].getElementsByTagName("td")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
</body>
</html>












