<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Komis Samochodowy</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link href="/style.css" rel="stylesheet">
</head>
<body>

<!-- Navigation Bar -->
	<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Strona główna</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Szukaj</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Samochód</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Klient</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Transakcja</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Konto</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Wyloguj</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<br>
<!-- Navigation Bar -->


<!-- Form -->

	<div class="row">
		<div class="col-md-8 offset-md-2">
			<table th:each="c : ${cars}" class="table">
				<tbody>
					<tr>
						<td width="15%" rowspan="3"><img th:src="@{/static/img/{name}(name=${c.photo})}" style="width:220px;height:220px"/></td>
						<td colspan="2">
							<h1 th:text="${c.brand} + ' ' + ${c.model}" class="font-weight-bold text-uppercase"></h1>

						</td>
						<td align="right">
							<h3 th:text="'Cena: ' + ${c.price} + 'zł'" class="font-weight-bold align-items-center"></h3>
						</td>
					</tr>
					<tr>

						<td width="25%">
							<h5 th:text="'Rocznik: ' + ${c.year}" class="font-weight-bold align-items-center"></h5>
						</td>
						<td width="20%" >
							<h6 th:text="'Pojemność silnika: ' + ${c.engine} + ' l.'" class=" align-items-center"></h6>
							<h6 th:text="'Rodzaj paliwa: ' + ${c.fuel}" class=" align-items-center"></h6>
						</td>
						<td></td>

					</tr>
					<tr>
						<td width="25%" >
							<h6 th:text="'Stan: ' + ${c.accidents}" class="font-weight-bold align-items-center"></h6>
						</td>
						<td width="20%" >
							<h6 th:text="'Moc: ' + ${c.power} + 'KM.'" class=" align-items-center"></h6>
							<h6 th:text="'Przebieg: ' + ${c.mileage} + ' km.'" class=" align-items-center"></h6>
						</td>
						<td align="right">
							<h6 th:text="'Data wystawienia oferty: ' + ${c.publishmentDate.getDay()} + '.'+ ${c.publishmentDate.getMonth()} + '.'+ ${c.publishmentDate.getYear() + 1900} + 'r.'" class=" align-items-center"></h6>
							<h6 th:text="'Sprzedajacy: ' + ${c.seller}"></h6>
						</td>
					</tr>
					<tr>
						<td colspan="4">
							<a class="btn btn-block btn-success">Kup auto</a>
						</td>
					</tr>
				</tbody>
				<br>
			</table>
	</div>


<!-- Form -->
</body>
</html>












