<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="../../../static/css/style.css" rel="stylesheet">
</head>
<body>


<!-- Login Panel -->
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form th:action="@{/employee/}" th:method="post" th:object="${account}">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input id="login" class="form-control" type="text" placeholder="Wprowadź login" th:field="*{login}"
                           name="login">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" class="form-control" name="password" type="password" th:field="*{password}"
                           placeholder="Wprowadź hasło">
                </div>
                <div class="form-check">
                    <button type="submit" class="btn btn-primary">Zaloguj</button>
                </div>
                <h1>ZŁY LOGIN LUB HASŁO</h1>
            </form>
        </div>
    </div>
</div>
</body>
</html>







